.body {
    background-color: rgb(195, 215, 198);
    margin: 0;
    font-family:'Trebuchet MS', Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
}

.header .buttons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.header .a {
    color: white;
    text-decoration: none;
}

.big-message {
    background: url("https://wallpaperbat.com/img/975850-download-wallpaper-1366x768-mountains-forest-fog-landscape-tablet-laptop-hd-background.jpg");
    color: white;
    min-height: 95vh;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    text-shadow: 4px 4px 6px black;
    font-size: 45px;
}

.big-message .h1 {
    max-width: 600px
}

.flex-container {
    flex: 1;
}

.flex-container {
    margin-left: 50px;
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.244);
}

.flex-container .ul {
    list-style: square;
}

.button-text {
    font-size: 40px;
    font-weight: bold;
}

.footer {
    background: black;
    text-align: center;
    padding: 20px;
}

.top {
    text-decoration: none;
    color: gray;
}

.pics {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.table {
    width: 80%;
    height: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.244);
    margin-bottom: 50px;
    border: 2px solid black;
    background-color: rgb(118, 147, 125);
    border-radius: 20px;
    padding: 10px
}

.th, 
.td {
    background-color: rgb(166, 190, 170);
    border: none;
    border-radius: 10px;
    padding: 5px
}

.hr-bottom {
    margin-bottom: 0px;
    height: 5px;
    border: none;
    background-color: black;
}

.hr-top {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 5px;
    border: none;
    background-color: black;
}

.para {
    padding: 20px;
    border-radius: 20px;
    flex: 1;
}

@media (max-width: 600px) {
    .big-message {
        font-size: 28px;
        text-align: center;
        justify-content: center;
    }

    .flex-container {
        flex-direction: column;
        margin-left: 0;
        padding: 20px;
        font-size: 18px;
    }

    .button-text {
        font-size: 28px;
    }

    .pics {
        width: 25%;
        height: auto;
    }

    .table {
        width: 90%;
        font-size: 14px;
    }
}